body{
    background-color: mintcream;
}
div {
    color: black
}
.full {
    margin: auto 0;
    height: 50vw;

}
.hw {
    font-size: 3rem;
    text-align: center;
    color: black
}
.blink {
    text-align: center;
    font-size: 4em;
}